:root {
    /* --logo-light-orange: #ffab1a;
    --logo-orange: #ff7518;
    --logo-red: #e23829;
    --logo-gray: #3b4e6c; */

    --primary-color-1: #3b4e6c;
    --primary-color-2: #ffab1a;
    --secondary-color-1: #3b4e6c;
    --secondary-color-2: #3b4e6c;
    --accent-color-1: #ff7518;
    --accent-color-2: hsl(24, 100%, 50%);

    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --font-size-1: 1rem;
    --font-size-2: 1.5rem;
    --font-size-3: 2rem;
    --text-color: #e5e5e5;

    --section-odd-background-color: #0c0a1a;
    --section-even-background-color: #0c0a1a;
    --section-padding: 1.4rem;

    --card-border-radius: 0 0 5px 5px;
    --card-background-color: #221c48;
    --card-div-padding: 5px 5px;
    --card-page-link-color: #ff7518;
    --card-page-link-hover-color: #3b4e6c;
    --card-page-link-transition: all 0.3s ease-in-out;
    --cards-container-scrollbar-color: #3a317a;
    /* --cards-container-scrollbar-color: linear-gradient(to right, hsl(from var(--accent-color-1) calc(h + 5) s calc(l - 20)), hsl(from var(--section-even-background-color) calc(h - 5) s calc(l + 10))); */
    --cards-container-scrollbar-width: calc((6 / 16) * 1rem);

    --call-to-action-padding: 10px 20px;
    --call-to-action-background-color: #ff7518;
    --call-to-action-color: var(--section-even-background-color);
    --call-to-action-border-radius: 9999px;
    --call-to-action-border: 2px solid var(--accent-color-2);
    --call-to-action-transition: all 0.3s ease-in-out;
    --call-to-action-hover-background-color: #0c0a1a;
    --call-to-action-hover-color: #ff7518;

    --nav-background-color: #1a1537;
    --nav-sidebar-cut-width: 1024px;

    --footer-background-color: #16122f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color: #e5e5e5;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 500;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

section {
    background-color: var(--section-even-background-color);
    width: 100%;
    padding: var(--section-padding);
    padding-top: 5rem;
}

main > section:nth-of-type(odd) {
    background-color: var(--section-odd-background-color);
}

section > .section-header {
    text-align: center;
}

section > .section-header > h2 {
    font-size: 2rem;
}

section > .section-header > p {
    margin: 0.25rem 0;
}

.hero-section {
    min-height: calc(100vh - 70px);
    text-align: center;
    background-image: url("http://localhost/singularity website design/someimage.png");
    background-position: top left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section > div {
    width: 100%;
    height: 100%;
}

.hero-section > div > p {
    padding: 1.3rem;
}

.hero-section > div > .credits {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.8rem;
}

.about-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-section > div {
    width: 50%;
}

.about-section > .section-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: -webkit-fill-available;
}

.about-section > .card-img-container {
    height: 100%;
    object-fit: unset;
    width: 40%;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: min(2%, 1.5rem);
}

.cards-container::-webkit-scrollbar {
    height: var(--cards-container-scrollbar-width);
}

.cards-container::-webkit-scrollbar-track{
    background: var(--section-even-background-color);
    border-radius: 9999px;
}

.cards-container::-webkit-scrollbar-thumb {
    background: var(--cards-container-scrollbar-color);
    border-radius: 9999px;
}

@supports not selector(::-webkit-scrollbar) {
    .cards-container {
        scrollbar-color: var(--accent-color-2) var(--section-even-background-color);
        scrollbar-width: thin;
    }
}

.card {
    background-color: var(--card-background-color);
    width: min(90%, 300px);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-radius: var(--card-border-radius);
    overflow: hidden;
}

.card > div {
    padding: var(--card-div-padding);
}

.card > .card-img-container {
    height: calc(300px * (9/16));
    width: 100%;
    padding: 0 0;
    position: relative;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title-date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-title-date-container > p {
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: calc((5 / 16) * 1rem) calc((10 / 16) * 1rem);
}

.card-title-date-container > div {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: calc((5 / 16) * 1rem) calc((10 / 16) * 1rem);
    display: flex;
    flex-direction: column;
}

.card-title-date-container > div > :first-child {
    font-size: 2rem;
    line-height: 1.5rem;
    transform: scaleY(0.8);
    color: var(--accent-color-1);
}

.card-title-date-container > div > :last-child {
    font-size: 1rem;
    line-height: 0.6rem;
    transform: scaleY(0.7);
    padding-left: calc(1rem / 16);
    color: var(--accent-color-1);
}

.card-page-link {
    color: var(--card-page-link-color);
    transition: var(--card-page-link-transition);
}

.card-page-link:hover {
    color: var(--card-page-link-hover-color);
}

section > div:has(.call-to-action) {
    text-align: center;
    padding: 1rem;
}

.call-to-action {
    text-decoration: none;
    display: inline-block;
    padding: var(--call-to-action-padding);
    border: var(--call-to-action-border);
    border-radius: var(--call-to-action-border-radius);
    background-color: var(--call-to-action-background-color);
    text-align: center;
    color: var(--call-to-action-color);
    transition: var(--call-to-action-transition);
}

.call-to-action:hover {
    background-color: var(--call-to-action-hover-background-color);
    color: var(--call-to-action-hover-color);
}

footer {
    background-color: var(--footer-background-color);
}

footer > div {
    display: flex;
    flex-direction: column;
}

footer > div > .social-media-handles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

footer > div > .social-media-handles >:first-child {
    width: 100%;
}

footer > div > .quick-links {
    /* display: flex;
    flex-direction: column; */
    flex: 1 1 80px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-template-rows: auto;
    /* width: 50%; */
    gap: 1rem;
    padding: 1rem;
}

footer > div > .social-media-handles > :first-child , footer > div > .quick-links > :first-child {
    grid-column: 1 / -1;
    color: var(--accent-color-1);
}

footer > div > .social-media-handles > a, footer > div > .quick-links > a {
    text-decoration: none;
    /* color: black; */
    width: fit-content;
}

footer > .copyrights {
    padding: 1rem;
    text-align: center;
}