.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px 0 20px;
    background-color: var(--nav-background-color);
    color: var(--accent-color);
    position: sticky;
    top: 0;
    height: 70px;
}

nav input#sidebar-toggle {
    display: none;
}

nav > div:first-child {
    width: 100px;
    height: 40px;
    padding: 5px 0;
    box-sizing: content-box;
}

nav > div > img {
    height: 130%;
}

/*nav > div > svg {
    height: 100%;
}

nav > div > svg > path {
    fill: var(--accent-color);
}*/

nav > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    letter-spacing: 0.1em;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
    padding: 20px 0;
}

nav .open-sidebar-button, nav .close-sidebar-button {
    cursor: pointer;
    display: none;
}

nav .open-sidebar-button > svg {
    fill: var(--text-color);
    width: fit-content;
    display: block;
}

nav .close-sidebar-button > svg {
    fill: var(--text-color);
    width: fit-content;
    display: block;
}

@media (max-width: 1024px) {
    nav .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        max-width: 350px;
        height: 100%;
        background-color: var(--nav-background-color);
        z-index: 10;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
    }
    nav a {
        padding: 15px;
    }
    nav .close-sidebar-button {
        /* padding: 10px; */
        margin: 20px;
        align-self: flex-end;
        text-align: left;
    }
    nav .open-sidebar-button, nav .close-sidebar-button {
        display: block;
    }
    nav #sidebar-toggle:checked ~ .sidebar {
        right: 0;
    }
}